body {
  background-image: url(./assets/images/fast-finger-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #a7383b !important;
  font-family: "Press Start 2P",cursive;
}